.gradient-background {
  background: linear-gradient(300deg, #ff80b0, #ffcd82, #809bff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#buybtn, #buybtn2, #buybtn3 {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#buybtn:hover, #buybtn2:hover, #buybtn3:hover {
  transform: scale(1.1);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body, span, h1, h2, h3, h4, h5, h6, p {
  color: #333!important;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
